/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background */
.background {
    background-image: url('assets/images/mask.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

/* Menu */
nav {
    margin-top: 20px;
}

ul.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

ul.menu li {
    margin: 20px;
    position: relative;
}

ul.menu li a {
    font-family: 'Average', sans-serif;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    ul.menu {
        flex-direction: column; 
        align-items: flex-start;
    }

    ul.menu li {
        margin-bottom: 10px; 
        margin-right: 0; 
    }

    .social-icons {
        position: relative;
        top: 0;
        right: 0;
    }

    .content {
        max-width: 90%; 
        padding: 0;
    }

    .search-container {
        max-width: 90%;
    }

}

ul.menu li a:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Dropdown Menu */
ul.submenu {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    padding: 10px 0;
    border-radius: 5px;
}

ul.submenu li {
    margin: 0;
}

ul.submenu li a {
    display: block;
    padding: 10px 20px;
    width: 100%;
    color: white;
    text-align: left;
    background-color: transparent;
}

ul.menu li:hover .submenu {
    display: block;
}

/* Name and Bio */
.content {
    margin-top: 230px;
    text-align: left;
    max-width: 50%;
    word-wrap: break-word;
}

.content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.5rem; 
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.content p {
    font-family: 'Average', sans-serif;
    font-size: 1rem;
    font-weight: normal; 
    color: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
}

.search-container {
    margin-top: 20px;
    max-width: 50%;
}

.search-bar {
    font-family: 'Oswald', serif;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white; 
    width: 100%;
    transition: background-color 0.3s ease;
}

.search-bar:focus {
    background-color: rgba(0, 0, 0, 0.9);
    outline: none;
}

.social-icons {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    color: rgba(0, 0, 0, 0.9);
    font-size: 2rem;
    margin: 10px 0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ccc;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.slideshow {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.slideshow img {
    width: 100%;
    display: none;
}

.slideshow img.active {
    display: block; 
}

.slideshow .prev,
.slideshow .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.slideshow .prev {
    left: 10px;
}

.slideshow .next {
    right: 10px;
}